.regi{
    /* background-color:rgb(255, 255, 255);
    width:70%; */
    position:relative;
    top:-600px;
    
    background-repeat: no-repeat;
    background-position: center -200px;
    background-size: 680px;
    font-size: 1.3em;
    /* border-radius:10px;
    box-shadow:10px 5px 50px rgb(133, 124, 124); */
}
.i-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 10px;
}
.i-content{
    /* font-size: 1em; */
}
.md-img ul li ul li img,
.md-img ul li p img,
.md-img ul li img,
.md-img p img{
    max-width:100%;
}
.e-img{
    text-align: center;
}
.e-img img{
    padding: 20px 100px;
}