{% extends "base/base.html" %}
{% load static %}

{% block title %}
    change password
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'accounts/change_password/css/change_password.css' %}">
{% endblock link %}

{% block style %}
       
{% endblock style %}
{% block page_word %}{% endblock page_word %}
{% block body %}
    <div class="container regi">
        <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">旧密码</span>
                <input type="password" class="form-control" name="old_password" autofocus required id="id_old_password">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">新密码</span>
                <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">确认密码</span>
                <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
            </div>
            <div>
                <button class="btn btn-info btn-block btn-lg" type="submit">提交</button>
            </div>   
        </form>
    </div>

{% endblock body %}

{% block script %}
    
{% endblock script %}