<!DOCTYPE html>
{% load static %}
<html lang="en" class="js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Syclover 10th Geek</title>

<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>

<link href="{% static 'accounts/index/vendors.css' %}" rel="stylesheet">
<link href="{% static 'accounts/index/demo.css' %}" rel="stylesheet">
</head>
<body>
<div class="overlay" style="visibility: hidden; opacity: 0;"></div>

<main>
	<div class="frame">
		<div class="frame__demos">
		{% if user.is_authenticated %}
			<a href="{% url 'public:about' %}" class="frame__demo">Hello,{{ team.username }}</a>
		{% else %}
			<a href="{% url 'accounts:login' %}" class="frame__demo">Login</a>
			<a href="{% url 'accounts:register' %}" class="frame__demo">Register</a>
		{% endif %}
			
		</div>
	</div>
</main>

<script type="text/javascript" src="{% static 'accounts/index/vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/index/demo.js' %}"></script>
<canvas width="1920" height="947" style="position: absolute; top: 0px; left: 0px; z-index: -1; width: 1920px; height: 947px;"></canvas>



</body>
</html>